@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;

}


.gif-img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    border-radius: 20px;


}

body {

    background: url(./assets/backgroundog.jpg);
    background-size: 1920px 1080px;
}

main {
    width: 375px;
    padding: 44px 24px 22px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    padding: 25px;
    border-radius: 20px;
    background: #F4F4F4;
    padding: 44px 24px 22px;
    
    
   

}

label {
    color: #777;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 6px;
}


.select-currency1, .select-currency2, input {

    border-radius: 4px;
    border: 1px solid #BBB;
    color: #555;
    background: #FFF;
    width: 100%;
    height: 48px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 24px;
    padding-left: 18px;
    cursor: pointer;

}

input{

    cursor: text;
    font-weight: 400;
   

}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;

}

button {

    width: 100%;
    height: 48px;
    margin-bottom: 36px;
    border-radius: 5px;
    background: #772FD3;
    font-size: 18px;
    font-weight: 700;
    color: #FFF;
    box-shadow: 3px 3px 3px #777;
    cursor: pointer;   
}

button:hover {

    opacity: 0.9;
}

button:active {

    opacity: 0.6;
}

section {
    border: 1px solid #772FD3;
    border-radius: 20px;
    padding: 12px;

}
.arrow-img {
    margin: 15px 0;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4;

    }
.current-currency, .converted-currency {

    font-size: 14px;
    font-weight: 400;
    color: #777777;

}

.currency-value, .converted-value {

    font-size: 20px;
    font-weight: 700;
    color: #555555;
}


@media screen and (max-width: 600px) {

    main {
        max-width: 100%;
        max-height: 100;
    }


}